<div class="orders-delivery-container">
  <h2>Delivery Orders</h2>

  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Order ID</th>
        <th>Total Price</th>
        <th>Address</th>
        <th>Order Status</th>
        <th>Payment Status</th>
        <th>Products</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="orders.length === 0">
        <td colspan="7">No orders available.</td>
      </tr>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.totalPrice | currency }}</td>
        <td>{{ order.address }}</td>
        <td class="order-status" [ngClass]="getStatusClass(order.orderStatus)">{{ order.orderStatus }}</td>
        <td>{{ order.paymentStatus }}</td>
        <td>
          <table class="inner-table">
            <thead>
            <tr>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entry of order.entries">
              <td>{{ entry.product.name }}</td>
              <td>{{ entry.quantity }}</td>
              <td>{{ entry.basePrice | currency }}</td>
              <td>{{ entry.totalPrice | currency }}</td>
            </tr>
            </tbody>
          </table>
        </td>
        <td class="actions">
          <button class="delivered" (click)="markAsDelivered(order.id)">
            <i class="fas fa-check"></i> Delivered
          </button>
          <button class="issue" (click)="reportIssue(order.id)">
            <i class="fas fa-exclamation-triangle"></i> Issue
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
