<header>
  <div class="container">
    <h1 class="logo"></h1>

    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a routerLink="/dashboard">Products</a></li>
        <li><a routerLink="/add-product">Add Product</a></li>
        <li><a routerLink="/product-management">Product Management</a></li>
        <li><a routerLink="/category" routerLinkActive="active">Category</a></li>
        <li><a routerLink="/orders-pharmacist" routerLinkActive="active">Orders</a></li>
        <li><a routerLink="/orders-delivery" routerLinkActive="active">Orders Delivery</a></li>
        <li><a [routerLink]="['/profile', userId]" routerLinkActive="active">Profile</a></li>
        <li><a routerLink="/manage-users" routerLinkActive="active">Manage Users</a></li>
        <li><a routerLink="/orders-history" routerLinkActive="active">Orders History</a></li>
        <li><a (click)="logOut()">Logout</a></li>
        <li><a routerLink="/cart">Cart ({{ cartItemCount }})</a></li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
