<div *ngIf="orders.length > 0; else noOrders">
  <div *ngFor="let order of orders">
    <h3>Order ID: {{ order.id }}</h3>
    <p>Total Price: {{ order.totalPrice }}</p>
    <p>Address: {{ order.address }}</p>
    <p>Order Status: {{ order.orderStatus }}</p>
    <p>Payment Status: {{ order.paymentStatus }}</p>
    <div *ngFor="let entry of order.entries">
      <h4>Product: {{ entry.product.name }}</h4>
      <p>Quantity: {{ entry.quantity }}</p>
      <p>Price: {{ entry.basePrice }}</p>
      <p>Total: {{ entry.totalPrice }}</p>
    </div>
    <hr>
  </div>
</div>
<ng-template #noOrders>
  <p>No orders available.</p>
</ng-template>
