.bee-row,
.bee-row-content {
  position: relative
}

.bee-form .bee-form-row .bee-field button {
  font-family: inherit;
  font-size: inherit
}

.bee-button .content,
.bee-row-16 .bee-col-2 .bee-block-1,
.bee-row-16 .bee-col-2 .bee-block-1 .bee-button-container {
  text-align: center
}

.bee-menu .bee-hamburger-controls span,
.bee-row-1,
.bee-row-10,
.bee-row-11,
.bee-row-12,
.bee-row-13,
.bee-row-14,
.bee-row-15,
.bee-row-16,
.bee-row-17,
.bee-row-18,
.bee-row-19,
.bee-row-2,
.bee-row-20,
.bee-row-21,
.bee-row-22,
.bee-row-23,
.bee-row-23 .bee-row-content,
.bee-row-3,
.bee-row-4,
.bee-row-5,
.bee-row-6,
.bee-row-7,
.bee-row-8,
.bee-row-9 {
  background-repeat: no-repeat
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif
}

a {
  color: #0068A5
}

* {
  box-sizing: border-box
}

body,
p {
  margin: 0
}

.bee-menu .bee-hamburger-trigger {
  display: none
}

.bee-row-content {
  max-width: 1025px;
  margin: 0 auto;
  display: flex
}

.bee-row-content .bee-col-w4 {
  flex-basis: 33%
}

.bee-row-content .bee-col-w5 {
  flex-basis: 42%
}

.bee-row-content .bee-col-w6 {
  flex-basis: 50%
}

.bee-row-content .bee-col-w7 {
  flex-basis: 58%
}

.bee-row-16 .bee-col-2 .bee-block-1 div.label:not(.inline),
.bee-row-16 .bee-col-2 .bee-block-1 label:not(.inline),
.bee-row-content .bee-col-w12 {
  flex-basis: 100%
}

.bee-button a,
.bee-icon .bee-icon-label-right a,
.bee-menu ul li a {
  text-decoration: none
}

.bee-divider,
.bee-image {
  overflow: auto
}

.bee-divider .center,
.bee-image .bee-center {
  margin: 0 auto
}

.bee-row-14 .bee-col-1 .bee-block-1,
.bee-row-14 .bee-col-1 .bee-block-2,
.bee-row-14 .bee-col-2 .bee-block-1,
.bee-row-16 .bee-col-2 .bee-block-1 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
.bee-row-18 .bee-col-1 .bee-block-1,
.bee-row-18 .bee-col-2 .bee-block-1,
.bee-row-18 .bee-col-3 .bee-block-1,
.bee-row-4 .bee-col-2 .bee-block-1,
.bee-row-6 .bee-col-1 .bee-block-1 {
  width: 100%
}

.bee-form .bee-form-row .bee-field {
  padding: 3px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center
}

.bee-form .bee-form-row .bee-field input:not([type=checkbox]):not([type=radio]) {
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit
}

.bee-form .bee-form-row .bee-field input[type=checkbox]:not(:first-of-type) {
  margin-left: 15px
}

.bee-form .bee-form-row .bee-field .bee-button-container {
  flex-grow: 1
}

.bee-form input[type=color] {
  border: none;
  height: 38px
}

.bee-form input[type=color]::-webkit-color-swatch-wrapper {
  margin: 0;
  padding: 2px
}

.bee-menu ul {
  margin: 0;
  padding: 0
}

.bee-form input[type=color]::-webkit-color-swatch {
  margin: 0;
  padding: 0
}

.bee-icon {
  display: inline-block;
  vertical-align: middle
}

.bee-icon .bee-content {
  display: flex;
  align-items: center
}

.bee-image img {
  display: block;
  width: 100%
}

.bee-menu .bee-hamburger-controls {
  cursor: pointer;
  display: inline-block;
  position: relative
}

.bee-menu .bee-hamburger-controls span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-size: 100%;
  transition: .12s ease-in-out
}

.bee-menu ul {
  list-style-type: none
}

.bee-menu ul.bee-horizontal li {
  display: inline-block
}

.bee-paragraph {
  overflow-wrap: anywhere
}

.bee-social .icon img {
  max-height: 32px
}

.bee-row-1 .bee-row-content,
.bee-row-10 .bee-row-content,
.bee-row-11 .bee-row-content,
.bee-row-12 .bee-row-content,
.bee-row-13 .bee-row-content,
.bee-row-14 .bee-row-content,
.bee-row-15 .bee-row-content,
.bee-row-16 .bee-row-content,
.bee-row-17 .bee-row-content,
.bee-row-18 .bee-row-content,
.bee-row-19 .bee-row-content,
.bee-row-2 .bee-row-content,
.bee-row-20 .bee-row-content,
.bee-row-21 .bee-row-content,
.bee-row-22 .bee-row-content,
.bee-row-3 .bee-row-content,
.bee-row-4 .bee-row-content,
.bee-row-5 .bee-row-content,
.bee-row-6 .bee-row-content,
.bee-row-7 .bee-row-content,
.bee-row-8 .bee-row-content,
.bee-row-9 .bee-row-content {
  background-repeat: no-repeat;
  color: #000000
}

.bee-row-1 .bee-col-1,
.bee-row-11 .bee-col-1,
.bee-row-14 .bee-col-1,
.bee-row-14 .bee-col-2,
.bee-row-15 .bee-col-1,
.bee-row-16 .bee-col-1,
.bee-row-16 .bee-col-2,
.bee-row-17 .bee-col-1,
.bee-row-18 .bee-col-1,
.bee-row-18 .bee-col-2,
.bee-row-18 .bee-col-3,
.bee-row-19 .bee-col-1,
.bee-row-2 .bee-col-1,
.bee-row-20 .bee-col-1,
.bee-row-23 .bee-col-1,
.bee-row-3 .bee-col-1,
.bee-row-5 .bee-col-1,
.bee-row-6 .bee-col-1,
.bee-row-6 .bee-col-2,
.bee-row-7 .bee-col-1,
.bee-row-8 .bee-col-1,
.bee-row-8 .bee-col-2,
.bee-row-9 .bee-col-1 {
  padding-bottom: 5px;
  padding-top: 5px
}

.bee-row-2 .bee-col-1 .bee-block-1 {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%
}

.bee-row-2 .bee-col-2 {
  padding: 5px 10px
}

.bee-row-2 .bee-col-2 .bee-block-1 {
  color: #000000;
  font-family: Merriwheater, Georgia, serif;
  font-size: 16px;
  letter-spacing: normal;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: right
}

.bee-row-4 .bee-col-1,
.bee-row-4 .bee-col-2 {
  background-color: #eef9ff
}

.bee-row-4 .bee-col-1 .bee-block-2,
.bee-row-4 .bee-col-1 .bee-block-3 {
  padding: 10px 10px 10px 30px
}

.bee-row-4 .bee-col-1 .bee-block-4 {
  padding: 10px 30px;
  text-align: left
}

.bee-row-16 .bee-col-1 .bee-block-1,
.bee-row-22 .bee-col-1 .bee-block-2,
.bee-row-5 .bee-col-1 .bee-block-2,
.bee-row-8 .bee-col-1 .bee-block-1 {
  padding: 10px 10px 20px
}

.bee-row-12 .bee-col-1 .bee-block-1,
.bee-row-20 .bee-col-1 .bee-block-1,
.bee-row-6 .bee-col-2 .bee-block-1,
.bee-row-8 .bee-col-2 .bee-block-1 {
  padding: 10px
}

.bee-row-6 .bee-col-2 .bee-block-2 {
  padding: 15px 10px;
  text-align: left
}

.bee-row-10 .bee-col-1,
.bee-row-10 .bee-col-2,
.bee-row-10 .bee-col-3 {
  background-color: #f2faff;
  border-bottom: 12px solid #FFFFFF;
  border-left: 12px solid #FFFFFF;
  border-right: 12px solid #FFFFFF;
  border-top: 12px solid #FFFFFF;
  padding-bottom: 5px;
  padding-top: 20px
}

.bee-row-10 .bee-col-1 .bee-block-1,
.bee-row-10 .bee-col-2 .bee-block-1,
.bee-row-10 .bee-col-3 .bee-block-1 {
  padding-top: 10px;
  width: 100%
}

.bee-row-10 .bee-col-1 .bee-block-2,
.bee-row-10 .bee-col-2 .bee-block-2,
.bee-row-10 .bee-col-3 .bee-block-2 {
  padding: 20px 10px 10px
}

.bee-row-10 .bee-col-1 .bee-block-3,
.bee-row-10 .bee-col-2 .bee-block-3,
.bee-row-10 .bee-col-3 .bee-block-3,
.bee-row-13 .bee-col-1 .bee-block-1,
.bee-row-18 .bee-col-1 .bee-block-3,
.bee-row-18 .bee-col-2 .bee-block-3,
.bee-row-18 .bee-col-3 .bee-block-3,
.bee-row-20 .bee-col-1 .bee-block-2,
.bee-row-21 .bee-col-1 .bee-block-2 {
  padding: 10px 20px
}

.bee-row-10 .bee-col-1 .bee-block-4,
.bee-row-10 .bee-col-2 .bee-block-4,
.bee-row-10 .bee-col-3 .bee-block-4 {
  padding: 10px 10px 30px
}

.bee-row-12 .bee-col-1 {
  padding-top: 5px
}

.bee-row-13 .bee-col-1 {
  padding-bottom: 5px
}

.bee-row-13 .bee-col-1 .bee-block-2 {
  padding: 15px 10px;
  text-align: center
}

.bee-row-16 .bee-col-2 .bee-block-1 {
  font-family: inherit;
  font-size: 14px;
  padding: 10px
}

.bee-row-18 .bee-col-1 .bee-block-2,
.bee-row-18 .bee-col-2 .bee-block-2,
.bee-row-18 .bee-col-3 .bee-block-2 {
  padding: 20px 20px 10px
}

.bee-row-18 .bee-col-1 .bee-block-4,
.bee-row-18 .bee-col-2 .bee-block-4,
.bee-row-18 .bee-col-3 .bee-block-4,
.bee-row-20 .bee-col-1 .bee-block-3 {
  padding: 10px 20px 30px
}

.bee-row-20 .bee-col-1 .bee-block-4 {
  padding-bottom: 50px;
  width: 100%
}

.bee-row-21 .bee-col-1,
.bee-row-21 .bee-col-2,
.bee-row-22 .bee-col-1 {
  background-color: #024368;
  padding-bottom: 5px;
  padding-top: 5px
}

.bee-row-21 .bee-col-1 .bee-block-1,
.bee-row-21 .bee-col-2 .bee-block-1 {
  padding: 40px 20px 10px
}

.bee-row-21 .bee-col-2 .bee-block-2 {
  padding: 10px 20px;
  text-align: left
}

.bee-row-22 .bee-col-1 .bee-block-1 {
  padding: 30px 10px 10px
}

.bee-row-23 {
  background-color: #ffffff
}

.bee-row-23 .bee-row-content {
  background-color: #ffffff;
  color: #000000
}

.bee-row-23 .bee-col-1 .bee-block-1 {
  color: #1e0e4b;
  font-family: Inter, sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center
}

.bee-row-4 .bee-col-1 .bee-block-2 {
  color: #393d47;
  font-size: 46px;
  line-height: 120%;
  text-align: left
}

.bee-row-10 .bee-col-1 .bee-block-2 a,
.bee-row-10 .bee-col-1 .bee-block-3 a,
.bee-row-10 .bee-col-2 .bee-block-2 a,
.bee-row-10 .bee-col-2 .bee-block-3 a,
.bee-row-10 .bee-col-3 .bee-block-2 a,
.bee-row-10 .bee-col-3 .bee-block-3 a,
.bee-row-12 .bee-col-1 .bee-block-1 a,
.bee-row-13 .bee-col-1 .bee-block-1 a,
.bee-row-16 .bee-col-1 .bee-block-1 a,
.bee-row-18 .bee-col-1 .bee-block-2 a,
.bee-row-18 .bee-col-1 .bee-block-3 a,
.bee-row-18 .bee-col-2 .bee-block-2 a,
.bee-row-18 .bee-col-2 .bee-block-3 a,
.bee-row-18 .bee-col-3 .bee-block-2 a,
.bee-row-18 .bee-col-3 .bee-block-3 a,
.bee-row-20 .bee-col-1 .bee-block-1 a,
.bee-row-20 .bee-col-1 .bee-block-2 a,
.bee-row-21 .bee-col-1 .bee-block-1 a,
.bee-row-21 .bee-col-1 .bee-block-2 a,
.bee-row-21 .bee-col-2 .bee-block-1 a,
.bee-row-4 .bee-col-1 .bee-block-2 a,
.bee-row-4 .bee-col-1 .bee-block-3 a,
.bee-row-5 .bee-col-1 .bee-block-2 a,
.bee-row-6 .bee-col-2 .bee-block-1 a,
.bee-row-8 .bee-col-1 .bee-block-1 a,
.bee-row-8 .bee-col-2 .bee-block-1 a {
  color: #8a3b8f
}

.bee-row-10 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-10 .bee-col-1 .bee-block-3 p:not(:last-child),
.bee-row-10 .bee-col-1 .bee-block-4 p:not(:last-child),
.bee-row-10 .bee-col-2 .bee-block-2 p:not(:last-child),
.bee-row-10 .bee-col-2 .bee-block-3 p:not(:last-child),
.bee-row-10 .bee-col-2 .bee-block-4 p:not(:last-child),
.bee-row-10 .bee-col-3 .bee-block-2 p:not(:last-child),
.bee-row-10 .bee-col-3 .bee-block-3 p:not(:last-child),
.bee-row-10 .bee-col-3 .bee-block-4 p:not(:last-child),
.bee-row-12 .bee-col-1 .bee-block-1 p:not(:last-child),
.bee-row-13 .bee-col-1 .bee-block-1 p:not(:last-child),
.bee-row-16 .bee-col-1 .bee-block-1 p:not(:last-child),
.bee-row-18 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-18 .bee-col-1 .bee-block-3 p:not(:last-child),
.bee-row-18 .bee-col-1 .bee-block-4 p:not(:last-child),
.bee-row-18 .bee-col-2 .bee-block-2 p:not(:last-child),
.bee-row-18 .bee-col-2 .bee-block-3 p:not(:last-child),
.bee-row-18 .bee-col-2 .bee-block-4 p:not(:last-child),
.bee-row-18 .bee-col-3 .bee-block-2 p:not(:last-child),
.bee-row-18 .bee-col-3 .bee-block-3 p:not(:last-child),
.bee-row-18 .bee-col-3 .bee-block-4 p:not(:last-child),
.bee-row-20 .bee-col-1 .bee-block-1 p:not(:last-child),
.bee-row-20 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-20 .bee-col-1 .bee-block-3 p:not(:last-child),
.bee-row-21 .bee-col-1 .bee-block-1 p:not(:last-child),
.bee-row-21 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-21 .bee-col-2 .bee-block-1 p:not(:last-child),
.bee-row-22 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-4 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-4 .bee-col-1 .bee-block-3 p:not(:last-child),
.bee-row-5 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-6 .bee-col-2 .bee-block-1 p:not(:last-child),
.bee-row-8 .bee-col-1 .bee-block-1 p:not(:last-child),
.bee-row-8 .bee-col-2 .bee-block-1 p:not(:last-child) {
  margin-bottom: undefined
}

.bee-row-4 .bee-col-1 .bee-block-3 {
  color: #393d47;
  font-size: 16px;
  line-height: 120%;
  text-align: left
}

.bee-row-12 .bee-col-1 .bee-block-1,
.bee-row-20 .bee-col-1 .bee-block-1,
.bee-row-5 .bee-col-1 .bee-block-2 {
  color: #000;
  font-family: Merriwheater, Georgia, serif;
  font-size: 46px;
  line-height: 120%;
  text-align: center
}

.bee-row-6 .bee-col-2 .bee-block-1 {
  color: #393d47;
  font-size: 16px;
  line-height: 150%;
  text-align: left
}

.bee-row-2 .bee-col-2 .bee-block-1 li {
  padding: 15px
}

.bee-row-2 .bee-col-2 .bee-block-1 li a {
  color: #000
}

@media (max-width:768px) {
  .bee-form form {
    width: 100% !important
  }

  .bee-menu ul.with-bee-hamburger {
    display: none;
    padding: 5px 0;
    position: relative;
    top: -4px
  }

  .bee-menu ul.with-bee-hamburger li {
    display: block;
    text-align: center
  }

  .bee-menu ul.with-bee-hamburger li a {
    text-decoration: none
  }

  .bee-menu ul.with-bee-hamburger span {
    display: none
  }

  #bee-hamburger-memu-r1c1m0:checked~ul,
  .bee-row-content:not(.no_stack) {
    display: block
  }

  .bee-row-2 .bee-col-2 .bee-block-1 .bee-hamburger-controls {
    width: 36px;
    height: 36px;
    background-color: #a5bdd2;
    border-radius: 0
  }

  .bee-row-2 .bee-col-2 .bee-block-1 .bee-hamburger-controls span {
    width: 18px;
    height: 18px
  }

  .bee-row-2 .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-open {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgd2lkdGg9IjY0IiB5PSI1MiIvPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiIHk9IjI2Ii8+PC9nPjwvc3ZnPg==");
    transform: translate(-50%, -50%) scaleY(1)
  }

  .bee-row-2 .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-close {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB0cmFuc2Zvcm09Im1hdHJpeCgtLjcwNzEwNjc4IC0uNzA3MTA2NzggLjcwNzEwNjc4IC0uNzA3MTA2NzggMzEuOTkxMzc4IDc3LjIzNDAxOSkiIHdpZHRoPSI4MiIgeD0iLTkuMDA4NjIyIiB5PSIyNS45OTEzNzgiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgdHJhbnNmb3JtPSJtYXRyaXgoLS43MDcxMDY3OCAuNzA3MTA2NzggLS43MDcxMDY3OCAtLjcwNzEwNjc4IDc3LjgxOTgwNiAzMi4yMzQwMTkpIiB3aWR0aD0iODIiIHg9Ii04Ljc2NTk4MSIgeT0iMjYuMjM0MDE5Ii8+PC9nPjwvc3ZnPg==");
    transform: translate(-50%, -50%) scaleY(0)
  }

  .bee-row-2 .bee-col-2 .bee-block-1 ul.with-bee-hamburger {
    background-color: #a5bdd2
  }

  .bee-row-2 .bee-col-2 .bee-block-1 ul.with-bee-hamburger li,
  .bee-row-2 .bee-col-2 .bee-block-1 ul.with-bee-hamburger li a {
    color: #ffffff
  }

  #bee-hamburger-memu-r1c1m0:checked~.bee-hamburger-controls .bee-hamburger-open {
    transform: translate(-50%, -50%) scaleY(0)
  }

  #bee-hamburger-memu-r1c1m0:checked~.bee-hamburger-controls .bee-hamburger-close {
    transform: translate(-50%, -50%) scaleY(1)
  }
}

.bee-row-18 .bee-col-1 .bee-block-3,
.bee-row-18 .bee-col-2 .bee-block-3,
.bee-row-18 .bee-col-3 .bee-block-3,
.bee-row-8 .bee-col-2 .bee-block-1 {
  color: #333;
  font-size: 16px;
  line-height: 150%;
  text-align: left
}

.bee-row-16 .bee-col-1 .bee-block-1,
.bee-row-8 .bee-col-1 .bee-block-1 {
  color: #000;
  font-family: Merriwheater, Georgia, serif;
  font-size: 46px;
  line-height: 120%;
  text-align: left
}

.bee-row-10 .bee-col-1 .bee-block-2,
.bee-row-10 .bee-col-2 .bee-block-2,
.bee-row-10 .bee-col-3 .bee-block-2 {
  color: #000;
  font-family: Merriwheater, Georgia, serif;
  font-size: 20px;
  line-height: 120%;
  text-align: center
}

.bee-row-10 .bee-col-1 .bee-block-3,
.bee-row-10 .bee-col-2 .bee-block-3,
.bee-row-10 .bee-col-3 .bee-block-3,
.bee-row-13 .bee-col-1 .bee-block-1,
.bee-row-20 .bee-col-1 .bee-block-2 {
  color: #333;
  font-size: 16px;
  line-height: 150%;
  text-align: center
}

.bee-row-10 .bee-col-1 .bee-block-4,
.bee-row-10 .bee-col-2 .bee-block-4,
.bee-row-10 .bee-col-3 .bee-block-4,
.bee-row-20 .bee-col-1 .bee-block-3 {
  color: #2d9cdb;
  font-size: 16px;
  line-height: 120%;
  text-align: center
}

.bee-row-10 .bee-col-1 .bee-block-4 a,
.bee-row-10 .bee-col-2 .bee-block-4 a,
.bee-row-10 .bee-col-3 .bee-block-4 a,
.bee-row-18 .bee-col-1 .bee-block-4 a,
.bee-row-18 .bee-col-2 .bee-block-4 a,
.bee-row-18 .bee-col-3 .bee-block-4 a,
.bee-row-20 .bee-col-1 .bee-block-3 a {
  color: #2d9cdb
}

.bee-row-18 .bee-col-1 .bee-block-2,
.bee-row-18 .bee-col-2 .bee-block-2,
.bee-row-18 .bee-col-3 .bee-block-2 {
  color: #000;
  font-family: Merriwheater, Georgia, serif;
  font-size: 20px;
  line-height: 120%;
  text-align: left
}

.bee-row-18 .bee-col-1 .bee-block-4,
.bee-row-18 .bee-col-2 .bee-block-4,
.bee-row-18 .bee-col-3 .bee-block-4 {
  color: #2d9cdb;
  font-size: 16px;
  line-height: 120%;
  text-align: left
}

.bee-row-21 .bee-col-1 .bee-block-2 {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  text-align: left
}

.bee-row-21 .bee-col-1 .bee-block-1,
.bee-row-21 .bee-col-2 .bee-block-1 {
  color: #fff;
  font-family: Merriwheater, Georgia, serif;
  font-size: 20px;
  line-height: 120%;
  text-align: left
}

.bee-row-22 .bee-col-1 .bee-block-2 {
  color: #fff;
  font-size: 14px;
  line-height: 120%;
  text-align: center
}

.bee-row-22 .bee-col-1 .bee-block-2 a {
  color: #fff
}

.bee-row-23 .bee-col-1 .bee-block-1 .bee-icon-image {
  padding: 5px 6px 5px 5px
}

.bee-row-23 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content {
  margin-left: 0
}

.bee-row-23 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
  margin-right: 0
}

.bee-row-16 .bee-col-2 .bee-block-1 form {
  display: inline-block;
  width: 100%
}

.bee-row-16 .bee-col-2 .bee-block-1 div.label,
.bee-row-16 .bee-col-2 .bee-block-1 label {
  color: #000000;
  line-height: 200%;
  text-align: left;
  display: block
}

.bee-row-16 .bee-col-2 .bee-block-1 ::-webkit-input-placeholder {
  color: #000000
}

.bee-row-16 .bee-col-2 .bee-block-1 :-moz-placeholder {
  color: #000000
}

.bee-row-16 .bee-col-2 .bee-block-1 ::-moz-placeholder {
  color: #000000
}

.bee-row-16 .bee-col-2 .bee-block-1 :-ms-input-placeholder {
  color: #000000
}

.bee-row-16 .bee-col-2 .bee-block-1 .bee-field>label:first-child,
.bee-row-16 .bee-col-2 .bee-block-1 div.label {
  padding: 3px
}

.bee-row-16 .bee-col-2 .bee-block-1 input:not([type=checkbox]):not([type=radio]):not([type=image]) {
  background-color: #ffffff;
  border-bottom: 1px solid #2D9CDB;
  border-left: 1px solid #2D9CDB;
  border-radius: 4px;
  border-right: 1px solid #2D9CDB;
  border-top: 1px solid #2D9CDB;
  color: #000000;
  padding: 5px;
  min-height: 38px
}

.bee-row-16 .bee-col-2 .bee-block-1 input:not([type=checkbox]):not([type=radio]):focus {
  outline-color: #3AAEE0
}

.bee-row-16 .bee-col-2 .bee-block-1 button {
  background-color: #3AAEE0;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
  border-radius: 30px;
  border-right: 0px solid transparent;
  border-top: 0 solid transparent;
  color: #ffffff;
  line-height: 200%;
  padding: 5px 20px;
  width: auto
}
.map-container {
  position: relative;
  width: 600px; /* Adjust the width as needed */
  height: 450px; /* Adjust the height as needed */
  margin: auto; /* Center the map horizontally */
  overflow: hidden; /* Hide overflowing corners */
  border-radius: 20px; /* Rounded corners */
}
.map-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 0;
}
.product-slider {
  display: flex;
  justify-content: center; /* Center the cards */
  gap: 20px;
  padding: 20px 0;
  flex-wrap: wrap; /* Allow wrapping to the next line if necessary */
}

.product-card {
  width: 250px; /* Fixed width */
  height: 400px; /* Fixed height */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column; /* Arrange content vertically */
  justify-content: space-between; /* Distribute space evenly */
}

.product-image {
  max-width: 100%;
  height: 150px; /* Fixed height for images */
  object-fit: cover; /* Ensure images cover the fixed height */
  border-radius: 4px;
}

.product-price {
  color: red;
  font-weight: bold;
}

.buy-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.buy-button:hover {
  background-color: #218838;
}

