<div *ngFor="let item of cartItems | keyvalue">
  <div>
    <img [src]="item.key.medias[0]" alt="{{item.key.name}}" style="width: 50px; height: 50px;">
    <span>{{item.key.name}}</span>
    <span>{{item.key.price}}</span>
    <span>{{item.value}}</span>
    <button (click)="increaseQuantity(item.key)">+</button>
    <button (click)="decreaseQuantity(item.key)" [disabled]="isQuantityOne(item.key)">-</button>
    <button (click)="removeFromCart(item.key)">Remove</button>
  </div>
</div>
<p>Total Price: {{ totalPrice }}</p>
