<div class="cart-container">
  <div *ngFor="let item of cartItems | keyvalue" class="cart-item">
    <div class="cart-item-details">
      <img [src]="item.key.medias[0]" alt="{{item.key.name}}" class="item-image">
      <span class="item-name">{{item.key.name}}</span>
      <span class="item-price">{{item.key.price | currency}}</span>
      <span class="item-quantity">{{item.value}}</span>
      <button (click)="increaseQuantity(item.key)" class="quantity-button">+</button>
      <button (click)="decreaseQuantity(item.key)" [disabled]="isQuantityOne(item.key)" class="quantity-button">-</button>
      <button (click)="removeFromCart(item.key)" class="remove-button">Remove</button>
    </div>
  </div>
  <p class="total-price">Total Price: {{ totalPrice | currency }}</p>
  <div class="address-container">
    <label class="address-label">
      Address:
      <input type="text" [(ngModel)]="address" class="address-input"/>
    </label>
  </div>
  <div *ngIf="requiresPrescription" class="prescription-container">
    <h3>Upload Prescription</h3>
    <label class="prescription-label">
      Prescription File:
      <input type="file" (change)="handlePrescriptionFileInput($event)" class="prescription-input"/>
    </label>
    <label class="prescription-label">
      Prescription Date:
      <input type="date" [(ngModel)]="prescriptionDate" class="prescription-input"/>
    </label>
    <label class="prescription-label">
      Doctor Name:
      <input type="text" [(ngModel)]="prescriptionDoctor" class="prescription-input"/>
    </label>
  </div>
  <button (click)="placeOrder()" class="place-order-button">Place Order</button>
</div>
